/* Navbar */
nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  width: 100%;
}

.page-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 2 / 2 / 3;
}

.navbar-attributes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-area: 1 / 3 / 2 / 4;
}

.page-filter {
  display: flex;
  align-items: center;
  grid-area: 1 / 1 / 2 / 2;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.884);
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 4;
  transition: 0.1s;
  border-bottom: 0px solid #5ece7b;
  margin-right: 2em;
}

.active-nav {
  border-bottom: 2px solid #5ece7b;
  color: #5ece7b;
}

.nav-link:nth-child(3) {
  margin-right: 0;
}

.nav-link:hover {
  color: #5ece7b;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-right: 2em;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: absolute;
  top: 3.4em;
  right: 11em;
  background-color: #fff;
  height: 0;
  box-shadow: 0px 4px 35px rgba(13, 16, 19, 0.19);
  z-index: 11;
  transition: 0.5s;
}

.dropdown-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  padding: 0.7em;
  transform: scale(0);
  transition: 0.3s;
}

.dropdown-button:hover {
  background-color: #eeeeee;
}

.list-open {
  height: 10.5em;
}

.open {
  transform: scale(1);
}

.dropdown-icon {
  transition: 0.5s;
}

.rotate {
  transform: rotate(180deg);
}

.cart-icon {
  cursor: pointer;
}

.cart {
  display: flex;
}

.cart-item-quantity {
  order: 2;
  position: relative;
  bottom: 0.8em;
  background-color: #5ece7b;
  color: #fff;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  opacity: 1;
  transition: 0.5s;
}

.cart-item-quantity-closed {
  opacity: 0;
}
